body {
    background: radial-gradient( circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    padding-right:50px;
}

.container {
    display: block;
    background-image: linear-gradient( 108.5deg, rgb(30, 59, 94) 4%, rgb(253, 29, 62) 49.3%, rgb(255, 224, 94) 96%);
    margin: 2em auto;
    padding: 20px;
   
    border-color: #404c58;
    font-family: "Sora", sans-serif;
}

.todaysDate {
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
    margin-top:-30px;
    
    color: #f9fcfb;
}
.todayIs{
    margin: 0 auto;
}

.displayTime {
    text-align: left;
    font-size: 25px;
    font-weight: bolder;
    margin: 0 auto;
    padding: 0 auto;
    color: #f9fcfb;
}

#sixDaysWeather {
    padding: 0px;
    margin-top: 120px;
}

#rowDesign {
    margin-top: 0px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 0px;
}
.reactLoader {
    display: center;
    margin-left: 450px;
}
.loadText{
    display: center;
   color:#f9fcfb;
   font-size: 50px;
}