.rounded-circle {
    background-color: white;
    margin-top: 100px;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    border-style: solid;
    border-width: thin;
    border-color: #35385a;
    font-family: "Sora", sans-serif;
}

.currentLocation {
    text-align: center;
    margin-top: 45px;
    font-size: 55px;
    color: #a90c2f;
}

.currentTemp {
    font-size: 45px;
}

#realWeatherInfo {
    text-align: center;
    color: #e6815e;
    padding: 0px 12px;
}

.clouds {
    height: 100px;
    width: 100px;
}

#describeWeather {
    text-align: center;
    font-style: italic;
    font-size: 32px;
    margin-top: 10px;
    color: #5e5e5e;
}

#humidIcon,
#windIcon {
    position: relative;
    margin-left: -120px;
    color: #154fab;
}

#humidity,
#wind {
    position: relative;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: -25px;
    color: #154fab;
    font-size: 18px;
}

#fahrenheit-link,
#celsius-link {
    text-decoration: none;
    color: #e6815e;
    font-weight: 300;
    font-size: 30px;
}

#celsius-link:hover,
#fahrenheit-link:hover {
    text-decoration: none;
    color: #5e5e5e;
}