weatherColumn {
  padding: 0px 30px 0px 0px;
}

.nextDay {
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 0px;
  color: #591fce;
  font-size: 23px;
}

.minMaxTemp {
  color: #303841;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 2px;
}

.dailyDescribeWeather {
  margin-top: 10px;
  color: #303841;
  font-size: 22px;
}

.dailyHumidityText,
.dailyWindText {
  color: #154fab;
  margin-bottom: 0px;
}

#styleRows {
  border-radius: 40px;
  background-color:#f7f7f7;
  margin: 0px 30px;
}

#daySapce,
#weatherSpace {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 25px;
  margin-top:10px;
}

#tempSpace {
  position: relative;
  width: 100%;
  padding-right: 45px;
  padding-left: 15px;
}
