.blueDropPin {
    width: 15px;
    background-color: #ffffff;
}

#exact-location-btn {
    height: 35px;
    background-color: #ffffff;
    margin: 0 auto;
}

#location-input {
    width: 220px;
    height: 35px;
    margin: 0 auto;
}

.search-btn {
    height: 35px;
    background-color: #ffffff;
    margin: 0 auto;
}