#dailyInfo{
  padding-left: 350px;
  margin-top: 10px;
text-align: center;
}

.dailyWeatherHeading {
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 35px;
  color: #f9fcfb;
}

.nextDay {
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 4px;
  color: #591fce;
  font-size: 23px;
}

.minMaxTemp {
  color: #154fab;
  font-size: 15px;
  margin-bottom: 5px;
}

.dailyDescribeWeather {
  margin-top: 10px;
  margin-bottom: 5px;;
  color: #303841;
  font-size: 22px;
}


#styleRows {
  border-radius: 30px;
  background-color:#f7f7f7;
  margin-bottom: 0px;
  margin-left: -310px;
}

#styleCols {
  width:175px;
  padding: 0px;
}